body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

h1 {
  font-family: "Ysabeau SC", sans-serif;
}

header div {
  background: #485563;
  background: linear-gradient(to right, #29323c, #485563);
  background-image: url(./assets/hero.png),
    linear-gradient(to right, #29323c, #485563);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: luminosity;
  box-shadow: 0px 2px 16px 3px rgba(255, 255, 255, 0.62);
}

.background {
  background: #c04848;
  background: linear-gradient(to right, #480048, #c04848);
  color: whitesmoke;
}

header p,
header nav {
  font-family: "Agdasima", sans-serif;
  line-height: 1.2;
}

#currentDay {
  background: #485563;
  background: linear-gradient(to right, #29323c, #485563);
  box-shadow: 0px 2px 16px 3px rgba(7, 7, 7, 0.25);
  color: #c04848;
}

#clearBtn {
  margin: 5px;
  padding: 5px;
  width: 25%;
  border: none;
  background: #c04848;
  background: -webkit-linear-gradient(to right, #480048, #c04848);
  background: linear-gradient(to right, #480048, #c04848);
  opacity: 80%;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
  outline: 0.1px solid;
}

#clearBtn:hover {
  background: #e0eafc;
  background: linear-gradient(to right, #cfdef3, #e0eafc);
  width: 23%;
  opacity: 100%;
  border: 0.5px solid #c04848;
  outline-color: #c04848;
  outline-style: initial;
  outline-offset: 10px;
  outline-width: 10px;
  color: #c04848;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  font-family: "Genos", sans-serif;
  font-size: 115%;
  border-radius: 15px;
}

.row {
  margin-top: 3px;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.past {
  background: #d3d3d3;
  background: radial-gradient(
    circle,
    rgba(53, 64, 105, 1) 0%,
    rgb(238, 238, 238) 0%,
    rgba(211, 211, 211, 1) 100%
  );
  color: white;
}

.present {
  background: #ff6961;
  background: radial-gradient(
    circle,
    rgba(53, 64, 105, 1) 0%,
    rgb(206, 147, 135) 0%,
    rgba(255, 105, 97, 1) 100%
  );
  color: white;
}

.future {
  background: #77dd77;
  background: radial-gradient(
    circle,
    rgba(53, 64, 105, 1) 0%,
    rgb(184, 250, 184) 0%,
    rgba(119, 221, 119, 1) 100%
  );
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #485563;
  background: linear-gradient(to right, #29323c, #485563);
  color: white;
}

.saveBtn:hover {
  background: #e0eafc;
  background: linear-gradient(to right, #cfdef3, #e0eafc);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.saveBtn:active,
#clearBtn:active {
  background: #485563;
  background: linear-gradient(to right, #29323c, #485563);
  color: #c04848;
}
